DATABASE_URL=ADD_HERE_YOUR_OWN_DATABASE_URL_STRING
PORT=ADD_HERE_PORT_WHICH_PORT_YOU_WANT_TO_RUN

CORS_ORIGIN=*
# ("https://example.com, https://another.com")

ACCESS_TOKEN_SECRET_KEY=test
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET_KEY=test
REFRESH_TOKEN_EXPIRY=10d

MAILTRAP_SMTP_HOST=ADD_HERE_HOST
MAILTRAP_SMTP_PORT=ADD_HERE_PORT
MAILTRAP_SMTP_USER=ADD_HERE_USER
MAILTRAP_SMTP_PASS=ADD_HERE_PASSWORD